@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

html {
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  display: block;
  font-size: 25px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: white;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.carousel_img {
  display: block;
  object-fit: cover; /* This makes the image cover the container */
  object-position: center; /* This centers the image horizontally and crops from the top */
  width: 100%; /* Set the width to 100% to fill the container horizontally */
}

.imgS {
  display: block;
  object-fit: cover; /* This makes the image cover the container */
  object-position: center; /* This centers the image horizontally and crops from the top */
  width: 100%; /* Set the width to 100% to fill the container horizontally */
  height: 500px;
}

.imgB {
  display: block;
  object-fit: cover; /* This makes the image cover the container */
  object-position: center; /* This centers the image horizontally and crops from the top */
  width: 100%; /* Set the width to 100% to fill the container horizontally */
  height: 600px;
}

.vertical-line {
  border-left: 2px solid #333; /* Adjust the color and thickness as needed */
  height: 30px; /* Adjust the height as needed */
}

.navbar {
  overflow: hidden;
  color: black;
}

.navbar li {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 20;
}

.logo {
  max-width: 100px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  padding: 14px 16px;

  margin: 0;
}

.dropbtn:hover {
  background-color: #f1f5f9;
}

.navbar li:hover,
.dropdown:hover .dropbtn {
  color: black;
  z-index: 20;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  left: 0;
  z-index: 1;
  animation: mymove 0.5s;
}

.dropdown-content .header {
  padding: 16px;
  color: black;
  background-color: black;
  z-index: 40;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

@keyframes mymove {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.column {
  float: left;
  padding: 10px;
  background-color: white;
  height: 250px;
}

.column li {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
}

.column li:hover {
  background-color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.vozy-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  overflow: auto;
  z-index: 50;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}

@layer base {
  .h2 {
    @apply text-xl;
  }
}
